#
# Device        : Xiaomi Mi 5 (gemini)
# Maintainer    : MOVZX (MOVZX@Telegram.org)
#

on darkness
    # Set CPU Parameters
        # Disable thermal hotplug to switch governor
            write /sys/module/msm_thermal/core_control/enabled 0
        #
        # Little
            chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
            chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
            write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1363200
            write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600
            write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
            # Interactive
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 13000
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 80
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 960000
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 1
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 30000
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 13000
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/screen_off_max 1382400
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "10 307200:20 422400:25 480000:30 556800:35 652800:40 729600:45 844800:50 960000:55 1036800:60 1113600:65 1190400:70 1228800:75 1324800:80 1401600:85 1478400:90 1593600:95"
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 20000
                write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 20000
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
            # DarkEnergy
                chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/darkenergy/down_rate_limit_us
                chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/darkenergy/up_rate_limit_us
                chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
                write /sys/devices/system/cpu/cpu0/cpufreq/darkenergy/down_rate_limit_us 1000
                write /sys/devices/system/cpu/cpu0/cpufreq/darkenergy/up_rate_limit_us 250
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor darkenergy
            # SchedUtil
                chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
                chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us
                chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable
                chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
                write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 1000
                write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 0
                write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 250
            # Set Default CPU Governor
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
        # Big
            chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
            chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
            write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1804800
            write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2342400
            write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
            # Interactive
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/above_hispeed_delay "13000 1324800:21000 1632000:34000"
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/go_hispeed_load 85
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/hispeed_freq 1248000
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/io_is_busy 1
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/max_freq_hysteresis 30000
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/min_sample_time 13000
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/screen_off_max 1382400
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/target_loads "15 307200:20 480000:25 652800:30 883200:35 940800:40 1190400:45 1248000:50 1324800:55 1478400:60 1555200:65 1632000:70 1785600:75 1824000:80 1996800:85 2073600:90 2150400:95"
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/timer_rate 20000
                write /sys/devices/system/cpu/cpu2/cpufreq/interactive/timer_slack 20000
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
            # DarkEnergy
                chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/darkenergy/down_rate_limit_us
                chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/darkenergy/up_rate_limit_us
                chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
                write /sys/devices/system/cpu/cpu2/cpufreq/darkenergy/down_rate_limit_us 1000
                write /sys/devices/system/cpu/cpu2/cpufreq/darkenergy/up_rate_limit_us 250
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor darkenergy
            # SchedUtil
                chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
                chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/schedutil/down_rate_limit_us
                chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/schedutil/iowait_boost_enable
                chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/schedutil/up_rate_limit_us
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor schedutil
                write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/down_rate_limit_us 1000
                write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/iowait_boost_enable 0
                write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/up_rate_limit_us 250
            # Set Default CPU Governor
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor schedutil
        #
        # Re-enable thermal hotplug
            write /sys/module/msm_thermal/core_control/enabled 0
    #
    # CPU Input Boost
        write /sys/module/cpu_boost/parameters/input_boost_freq "0:1113600 1:0 2:1190400 3:0"
        write /sys/module/cpu_boost/parameters/input_boost_ms 50
    #
    # Dynamic SchedTune Boost
        write /sys/module/cpu_boost/parameters/dynamic_stune_boost_rt 30
        write /sys/module/cpu_boost/parameters/dynamic_stune_boost_top_app 10
    #
    # Set Adreno GPU
        write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 510000000
        write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 652800000
        write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
    #
    # Set LMK
        write /sys/module/lowmemorykiller/parameters/debug_level 0
        write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0
        write /sys/module/lowmemorykiller/parameters/minfree "21816,29088,36360,43632,50904,65448"
    #
    # VM Tweaks
        write /proc/sys/vm/dirty_background_ratio 70
        write /proc/sys/vm/dirty_ratio 90
        write /proc/sys/vm/extra_free_kbytes 24300
        write /proc/sys/vm/min_free_kbytes 4096
        write /proc/sys/vm/oom_kill_allocating_task 0
        write /proc/sys/vm/overcommit_ratio 80
        write /proc/sys/vm/swappiness 60
        write /proc/sys/vm/vfs_cache_pressure 100
    #
    # Performance Guardian
        write /sys/kernel/debug/perfguard/shrink_kgsl 1
        write /sys/kernel/debug/perfguard/shrink_memory 1
        write /sys/kernel/debug/perfguard/shrink_process 1
        write /sys/kernel/debug/perfguard/shrink_zram 0
    #
    # Sound Control
        write /sys/kernel/sound_control/headphone_gain "8 8"
        write /sys/kernel/sound_control/mic_gain 5
        write /sys/kernel/sound_control/speaker_gain 13
        write /sys/module/snd_soc_wcd9330/parameters/high_perf_mode 1
        write /sys/module/snd_soc_wcd9xxx/parameters/impedance_detect_en 1
    #
    # Set I/O Scheduler
        setprop sys.io.scheduler bfq
        # SDA
            write /sys/block/sda/queue/iostats 0
            write /sys/block/sda/queue/nr_requests 1024
            write /sys/block/sda/queue/read_ahead_kb 1024
            write /sys/block/sda/queue/scheduler bfq
        # SDB
            write /sys/block/sdb/queue/iostats 0
            write /sys/block/sdb/queue/nr_requests 1024
            write /sys/block/sdb/queue/read_ahead_kb 1024
            write /sys/block/sdb/queue/scheduler bfq
        # SDC
            write /sys/block/sdc/queue/iostats 0
            write /sys/block/sdc/queue/nr_requests 1024
            write /sys/block/sdc/queue/read_ahead_kb 1024
            write /sys/block/sdc/queue/scheduler bfq
        # SDD
            write /sys/block/sdd/queue/iostats 0
            write /sys/block/sdd/queue/nr_requests 1024
            write /sys/block/sdd/queue/read_ahead_kb 1024
            write /sys/block/sdd/queue/scheduler bfq
        # SDE
            write /sys/block/sde/queue/iostats 0
            write /sys/block/sde/queue/nr_requests 1024
            write /sys/block/sde/queue/read_ahead_kb 1024
            write /sys/block/sde/queue/scheduler bfq
        # SDF
            write /sys/block/sdf/queue/iostats 0
            write /sys/block/sdf/queue/nr_requests 1024
            write /sys/block/sdf/queue/read_ahead_kb 1024
            write /sys/block/sdf/queue/scheduler bfq
        # DM-0
            write /sys/block/dm-0/queue/iostats 0
            write /sys/block/dm-0/queue/nr_requests 1024
            write /sys/block/dm-0/queue/read_ahead_kb 1024
            write /sys/block/dm-0/queue/scheduler bfq
    #
    # UFS Tweaks
        write /sys/devices/soc/624000.ufshc/624000.ufshc:ufs_variant/pm_qos_enable 1
        write /sys/devices/soc/624000.ufshc/clkgate_enable 1
        write /sys/devices/soc/624000.ufshc/clkscale_enable 1
        write /sys/module/scsi_mod/parameters/use_blk_mq Y
    #
    # Entropy Tweaks
        write /proc/sys/kernel/random/read_wakeup_threshold 512
        write /proc/sys/kernel/random/write_wakeup_threshold 256
    #
    # Misc Tweaks
        write /sys/kernel/dyn_fsync/Dyn_fsync_active 1
        chmod 777 /sys/module/workqueue/parameters/power_efficient
        write /sys/kernel/fp_boost/enabled 1
        write /sys/module/battery_current_limit/parameters/low_battery_value 1
        write /sys/module/msm_thermal/parameters/enabled N
        chmod 777 /sys/module/msm_thermal/vdd_restriction/enabled
        write /sys/module/msm_thermal/vdd_restriction/enabled 0
        chmod 444 /sys/module/msm_thermal/vdd_restriction/enabled
        write /sys/module/qpnp_smbcharger/parameters/default_hvdcp3_icl_ma 2700
        write /sys/module/qpnp_smbcharger/parameters/default_hvdcp_icl_ma 1500
        write /sys/module/workqueue/parameters/power_efficient Y
    #
    # Darkness Mods
        setprop dalvik.vm.dex2oat-threads 4
        setprop dalvik.vm.image-dex2oat-threads 4
        setprop debug.generate-debug-info false
        setprop fuck_russian_government true
        setprop google_is_spying_on_us true
        setprop i_hate_miui true
        setprop net.hostname Darkness
        setprop ro.data.large_tcp_window_size true
        setprop ro.sys.fw.dex2oat_thread_count 4
        setprop ro.sys.sdcardfs true
        setprop fuck_vivian 69
        setprop send_bobs_and_vegena true
        setprop sys.use_fifo_ui 1
        setprop wifi.supplicant_scan_interval 3600

on property:dev.bootcomplete=1
    trigger darkness
